#nav {
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  > div {
    padding: 0 0.5rem;
  }
  > span {
    flex-shrink: 0;
  }
  > input {
    flex-grow: 1.5;
    margin: 0 0.5rem;
  }
}
